/* Reset podstawowy */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ogólny styl strony */

.hidden {
    display: none;
}

body {
    font-family: Poppins;
    background-image: url('/static/images/background.png');
    background-color: #130d27;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    color: black;
    overflow-x: hidden;
}

.header{
    filter: blur(8px);
}

.title{
    font-size: 3em;
    padding-left: 30px;
    padding-top: 5px;
    margin: 0;
    text-align:center;
    text-shadow: 2px 2px #653778;
    animation: fadeIn 2s ease;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    transition: opacity 0.3s;
}

.loginbox1{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease;
}

#login{
    margin-top: 3em;
    backdrop-filter: blur(10px);
    padding: 20px;
    border: solid 3px black;
    border-radius:25px;
}

#logintext{
    margin: 0 auto;
    padding-bottom: 25px;
    text-shadow: 2px 2px #653778;
}

#loginbox {
    position: relative;
    margin-bottom: 2rem;
    backdrop-filter: blur(10px);

}

#buttonbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-join {
    background: linear-gradient(135deg, #653778 , #4b215d);
    text-shadow: 2px 2px #653778;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}


#btn-join:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #5f2e72, #512066);
}
  
#btn-join::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 300%;
    height: 300%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
    opacity: 0;
}
  
#btn-join:active::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: 0s;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    border-bottom: 3px solid black;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    transition: border-color 0.3s;
}

input:focus {
    border-bottom-color: #653778;
}

input:focus + label,
input:valid + label {
    top: -20px;
    font-size: 0.75rem;
    color: black;
}


input::placeholder {
    font-family: Poppins;
    color: black;
    transition: opacity 0.3s ease, font-size 0.3s ease, transform 0.3s ease;
}

input:focus::placeholder,
input:not(:placeholder-shown)::placeholder {
    opacity: 1;
    font-size: 0.75rem;
    transform: translateX(+20em);
}

/* When the input is focused, apply the animation */
input:focus::placeholder {
    animation: placeholderMoveUp 0.3s forwards;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -30px; /* Moves the label up */
    font-size: 0.75rem; /* Makes the label smaller */
    color: black;
}

input:focus ~ .icon,
input:valid ~ .icon {
    opacity: 1;
    color: #653778;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(50em);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideInLeft {
    from {
        transform: translateX(-50em);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes messageFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #653778; 
    border-radius: 10px; 
}
  

::-webkit-scrollbar-thumb {
    background-color: #411853;  
    border-radius: 10px;   
}
  
 
::-webkit-scrollbar-thumb:hover {
    background-color: #360d49;  
}







.main-grid-container{
    display: flex;           
    width: 100%;            
    height: auto; 
}



#video-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%; 
    height: auto;
}

#przyciski {
    display: flex;
    margin: auto;
    width: auto;
    height: 3em;
    margin-top: 7px;
    margin-right: 10px;
}
#right_panel {
    display: flex;
    flex-direction: column; 
    width: 30%;
    margin-bottom:1em;
}

#rover-control-panel, #drone-control-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolumny */
    gap: 10px; /* Odstęp między przyciskami */
    width: 300px; /* Szerokość całego panelu */
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

#rover-control-panel button, #drone-control-panel button {
    padding: 10px;
    border: 3px solid black;
    background: linear-gradient(135deg, #653778 , #4b215d);
    border-radius: 8px;
    background-color: #e0e0e0;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
}

#rover-control-panel button:hover, #drone-control-panel button:hover {
    background-color: #d0d0d0;
}

#chat {
    max-height:327.6px;
    flex: 1;
    margin-top:7px;
    margin-right: 10px;
    width: auto;
    height: auto;
    border: 3px solid #000000;
    border-radius: 8px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: contrast(80%);
    animation: slideInRight 1s ease; 
}

.chattext{
    font-family: Poppins;
    color: black;
    margin: 0 auto;
    text-shadow: 2px 2px #653778;
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    opacity: 0;
    animation: fadeIn 1s forwards; 
}

.messages p {    
    overflow-y: auto;
    padding: 5px;
    margin: 0;
    border-radius: 4px;
    opacity: 0;
    animation: messageFadeIn 0.5s ease-out forwards;
}

.messages .user-message {
    text-align: right;
}

.messages .system-message {
    text-align: left;
}

#msg {
    margin:auto;
    width:70%;
    flex-grow: 1;
    padding: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 2px solid black;
    border-right: none;
    transition: border 0.3s ease;
    backdrop-filter: blur(10px);
    background:none;
}

#btn-send-msg {
    margin-right:auto;
    width:30%;
    padding: 5px;
    border: 2px solid black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: linear-gradient(135deg, #653778 , #4b215d);
    color: #000;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#btn-send-msg:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}


#buttons {
    margin: auto;
    width:90%;
    border: 3px solid black;
    border-radius: 4px;
    backdrop-filter: contrast(80%);
    padding:10px;
}




h3 {
    margin-bottom: 15px;
    text-align: center;
    color: #4a4a7a;
}

video {
    margin:7px;
    width: 32em;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #000;
    animation: slideInLeft 1s ease; 
}

#btn-toggle-audio,
#btn-toggle-video,
#btn-share-screen,
#btn-chat,
#btn-buttons-drone,
#btn-buttons-rover {
    background: linear-gradient(135deg, #653778 , #4b215d);
    width:100%;
    margin:1px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    border-radius:8px;
    border: 3px solid #000;
    background-color: #f0f0f0; 
    cursor: pointer; 
}

#btn-toggle-audio:hover,
#btn-toggle-video:hover,
#btn-share-screen:hover,
#btn-chat:hover,
#btn-buttons-drone:hover,
#btn-buttons-rover:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

#my-record-btn{
    padding: 10px 20px;
    margin: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-rover-control{
    padding: 10px 20px;
    margin: 10px;
    background-color: green ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sendRequest {
    padding: 10px 20px;
    margin: 10px;
    background-color: #FF5733 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#stop-record-btn:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
}

/* Responsywność */
@media (max-width: 768px) {
    .main-grid-container {
        grid-template-columns: 1fr;
    }

    #chat {
        margin-top: 20px;
    }
}
